// Project-Specific Global Style Rules

body {
  line-height: 1.6;
  letter-spacing: -0.2px;

  font-family: var(--ff-default);

  background-color: hsl(var(--clr-light-gray));
}

h1,
h2,
h3 {
  line-height: 1;
}

main {
  margin-block: 3.5rem 2rem;
}
