/////////////////////////////////////////////
// Primary Project Config File
////////////////////////////////////////////

// Colors
$colors: (
  "white": hsl(0, 0%, 100%),
  "cyan": (
    "400": hsl(179, 62%, 43%),
    "600": hsl(179, 48%, 54%),
  ),
  "yellow": hsl(71, 73%, 54%),
  "light-gray": hsl(204, 43%, 93%),
  "grayish-blue": hsl(218, 22%, 67%),
);

// Breakpoints
$breakpoints: (
  "tablet": 35em,
  "desktop": 45em,
);

// Font Families
$font-families: (
  "default": (
    "Karla",
    sans,
  ),
);

// Font Weights
$font-weights: (400, 700);

// Font Sizes
$font-sizes: (
  "base": (
    "300": 0.875rem,
    "400": 1rem,
    "500": 1.125rem,
    "600": 1.25rem,
    "700": 2rem,
  ),
  "35em": (
    "300": 1rem,
    "600": 1.5rem,
  ),
);

// Margin/Padding Sizes
$spacings: (
  "base": (
    "100": 0.25rem,
    "400": 1rem,
    "500": 1.125rem,
    "600": 1.5rem,
    "800": 1.5rem,
  ),
  "45em": (
    "800": 2.5rem,
  ),
);

// Block Widths
$block-widths: (
  "full": 100%,
);

// Letter Spacing

$letter-spacing: ();
